header {
   color: #FFF;
}

.main-header {
   height: 56px;
   line-height: 56px;
}

.sub-header {
   height: 56px;
   line-height: 56px;
}

.phone-container {
   margin: 0px auto;
   max-width: 412px;
   width: 100%;
}
