/* general */

body {
   background-color: #eee;
}

.phone-container {
   width: 100%;
   max-width: 412px;
   margin: 0px auto;
   overflow: hidden;
   position: relative;
   background-color: white;
}

.offset-left {
   position: absolute;
   left: 72px;
}

.float-right {
   float: right;
}

.tappable {
   cursor: pointer;
}


/* header & sub-header*/

header {
   color: #FFF;
   position: relative;
   z-index: 1;
}

.main-header {
   height: 56px;
   line-height: 56px;
}

.main-header .title {
   position: absolute;
   left: 72px;
   font-size: 18px;
}

.main-header i {
   padding: 14px;
}

.sub-header {
   height: 48px;
   line-height: 48px;
}

.sub-header .title {
   font-size: 14px;
}

.sub-header i {
   padding: 12px 16px;
}


/* poll */

#poll {
   position: relative;
}

#poll .item {
   height: 72px;
   line-height: 72px;
   font-size: 16px;
   position: absolute;
   width: 100%;
   background-color: white;
   transition: top 0.8s ease, box-shadow 0.25s ease 0s;
}

#poll .item.raised {
   box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
   z-index: 1;
}

#poll .item .bar {
   position: absolute;
   width: 100%;
   overflow: hidden;
   white-space: nowrap;
   height: inherit;
}

#poll .item .bar.red {
   right: 0;
}

#poll .item .bar.main {
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#poll .item .bar span {
   margin-left: 72px;
   margin-right: 16px;
}

.md-inactive {
   opacity: .3;
}
